<!--modal view-->
<div class="modal fade" id="viewModal{{repo.id}}" tabindex="-1"
  aria-labelledby="viewModalLabel{{repo.id}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fs-5" id="viewModalLabel{{repo.id}}"><i class="fa-solid fa-file-pdf"></i> TITLE:
          {{repo.title}}</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-weight: 300;">
        <!-- Display student data -->
        <iframe id="pdfFrame" src="ViewRepositoryFiles/{{repo.id}}" width="100%" height="500"></iframe>
      </div>
    </div>
  </div>
</div>